# Огромная папка виртуального окружения (её весить сотни МБ, в Git ей нельзя)
.venv/
venv/

# Конфиденциальные данные: пароль от базы Postgres и секретный ключ Django
.env

# Локальная база данных SQLite (если случайно создалась)
*.sqlite3

# Собранные статические файлы красивой админки
static/

# Картинки товаров, которые ты загружала локально для теста
media/

# Технический кэш Python (создается автоматически при запуске кода)
__pycache__/
*.pyc
.pytest_cache/
